@media print {
    html, body {
        height:100%; 
        margin: 0;
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
      }
    body *:not(#prt):not(#prt *){
        visibility: hidden;
    }
    #prt{
        position:absolute;
        top:0;
        left:0;
        margin: 0;
        padding-top:0px;
        width:100%;
        height: 100%;
        visibility: visible;
        /* margin-left: 0px !important; */
    }
    #prt{
        visibility: visible;
    }
}

@media only screen and (max-width: 600px) {
#prt{
    display: none;
}
}

@media only screen and (min-width: 600px) {
    #prt{
        display: none;
    }
}


.modal-body {
    width: 800;
    height: 100%;
    margin: 0;
    padding: 0;
}